/* General Styles */

:root {
  --bg-purple: #6070ff;
  --bg-dark-blue: #172b4d;
  --bg-lavender: #ebebff;
  --bg-slate-grey: #505f79;
  --text-dark-blue: #344563;
  --font-poppins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: var(--font-poppins);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(229, 226, 226);
}

h1 {
  color: var(--text-dark-blue);
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

h3 {
  color: var(--bg-dark-blue);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

h6 {
  color: var(--bg-purple);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

p {
  padding: 1rem 0;
  color: var(--text-dark-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0.5rem 0;
}

button {
  all: unset;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid var(--bg-purple);
  transition: all 0.3s ease;
}

.btn-outlined {
  color: #396df2;
}

.btn-outlined:hover {
  background-color: var(--bg-purple);
  color: white;
}

.btn-outlined:active {
  background-color: white;
  color: var(--bg-purple);
}

/* Shared Styles */

.socials__container {
  display: flex;
  width: 50%;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem 0;
  gap: 1rem;
}

.icons_social__container {
  justify-content: flex-start;
}

.socials__container > ul > li {
  list-style: none;
  margin-right: 1rem;
}

.fa-brands {
  font-size: 30px;
  background-color: white;
  color: var(--bg-slate-grey);
  cursor: pointer;
}

.flex {
  display: flex;
  align-items: center;
}

.float {
  display: block;
  float: left;
}

.bg-white {
  background-color: white;
}

/* Portfolio wrapper Section */

.portfolio {
  position: relative;
  min-width: 25vw;
  width: 375px;
  min-height: 70vh;
  background-color: #f1f1f1;
  overflow: hidden;
}

/* Nav Section */

nav {
  padding: 1.5rem;
  justify-content: space-between;
}

/* Nav - Title */

#title {
  color: var(--bg-purple);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

/* Nav - Hamburger icon */

.icon_hamburger__container {
  justify-content: center;
  width: 20px;
  height: 15px;
  cursor: pointer;
  overflow: visible;
}

#icon-hamburger {
  position: relative;
  width: 20px;
  height: 2px;
  background-color: var(--bg-purple);
}

#icon-hamburger::after {
  content: " ";
  position: absolute;
  top: -5px;
  width: 20px;
  height: 2px;
  background-color: var(--bg-purple);
}

#icon-hamburger::before {
  content: " ";
  position: absolute;
  top: 5px;
  width: 20px;
  height: 2px;
  background-color: var(--bg-purple);
}

/* Headline section */

.headline {
  background-image: url("./img/header-shapes.svg");
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  padding: 6rem 1.5rem;
  border-bottom-left-radius: calc(10rem / 3);
}

/* Projects Section */

.projects {
  display: grid;
  place-content: center;
  grid-template-columns: auto;
  gap: 5rem;
  padding: 6rem 1rem;
}

/* Projects - Card */

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  width: 327px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card > .project_details > li {
  margin-right: 1.5rem;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.card > .project_coding_langs > li {
  list-style: none;
  color: var(--bg-purple);
  font-size: 12px;
  background-color: var(--bg-lavender);
  border-radius: 8px;
  margin-right: 1.5rem;
  padding: 4px 12px;
}

.card > .project_details > li:first-child {
  list-style: none;
  color: var(--text-dark-blue);
}

.card > p {
  padding: 0;
}

/* About section */

.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 6rem 1.5rem;
  border-top-right-radius: calc(10rem / 3);
  gap: 1rem;
}

/* About - Knowledge list */

.about__stacks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem 0;
}

.about_stacks__item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 1.5rem 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #dfe1e6;
}

.about_stacks__item:hover {
  background-color: #f1f1f1;
}
