/* General Styles */

:root {
  --bg-purple: #6070ff;
  --bg-dark-blue: #172b4d;
  --bg-lavender: #ebebff;
  --bg-slate-grey: #505f79;
  --text-dark-blue: #344563;
  --font-poppins: "Poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(i) {
  font-family: var(--font-poppins);
}

body {
  background-color: rgb(229, 226, 226);
  overflow-x: hidden;
}

h1 {
  color: var(--text-dark-blue);
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

h3 {
  color: var(--bg-dark-blue);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

h6 {
  color: var(--bg-purple);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

p {
  padding: 1rem 0;
  color: var(--text-dark-blue);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

textarea {
  resize: none;
  outline: none;
  color: var(--bg-dark-blue);
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  padding: 0 0.5rem;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  width: 327px;
  height: 170px;
}

input {
  outline: none;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background-color: #fff;
  padding: 0 0.5rem;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: var(--bg-dark-blue);
  width: 327px;
  height: 48px;
}

a {
  text-decoration: none;
}

ul {
  padding-top: 1rem;
}

button {
  all: unset;
  user-select: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  padding: 12px;
  transition: all 0.3s ease;
  width: max-content;
}

button:hover > img {
  filter: saturate(100) invert(1) hue-rotate(175deg) sepia(0.5);
}

.btn-primary {
  color: #396df2;
}

.btn-contained {
  background-color: #fff;
}

.btn-contained:hover {
  color: #fff;
  background-color: #2230d2;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn-contained:active {
  color: #2230d2;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn-outlined {
  border: 1px solid var(--bg-purple);
}

.btn-outlined:hover {
  background-color: var(--bg-purple);
  color: white;
}

.btn-outlined:active {
  background-color: #2230d2;
  color: #fff;
}

/* Shared Styles */

.backdrop_filter > main,
.backdrop_filter > section,
.backdrop_filter > #contact {
  filter: blur(5px);
}

.backdrop_filter_details > #navbar,
.backdrop_filter_details > main,
.backdrop_filter_details > section:nth-child(n + 2),
.backdrop_filter_details > #contact {
  filter: blur(5px);
}

.socials__container {
  display: flex;
  width: 50%;
  align-items: flex-start;
  flex-direction: column;
  padding: 0.5rem 0 1.5rem 0;
  gap: 0.5rem;
}

.icons_social__container {
  justify-content: flex-start;
}

.project_coding_langs {
  flex-wrap: wrap;
}

.project_coding_langs > li {
  list-style: none;
  color: var(--bg-purple);
  font-size: 12px;
  background-color: var(--bg-lavender);
  border-radius: 8px;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 4px 12px;
}

.project_details {
  padding: 0.5rem 0;
}

.project_details > li {
  margin-right: 1.5rem;
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.project_details > li:first-child {
  list-style: none;
  color: var(--text-dark-blue);
}

.socials__container > .icons_social__container > li {
  list-style: none;
  margin-right: 1rem;
}

.fa-brands {
  font-size: 30px;
  background-color: white;
  color: var(--bg-slate-grey);
  cursor: pointer;
  transition: transform 0.1s linear;
}

.flex {
  display: flex;
  align-items: center;
}

.gap {
  gap: 12px;
}

.bg-white {
  background-color: white;
}

/* Portfolio wrapper Section */

.portfolio {
  position: relative;
  background-color: #f1f1f1;
}

/* Nav Section */

nav {
  padding: 1rem;
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* Nav Section - Mobile view */

.nav_active {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-purple);
  z-index: 10;
  opacity: 0.9;
  align-items: flex-start;
  padding: 1.3rem 2rem;
}

#title {
  color: var(--bg-purple);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

/* Nav - Menu Links toggle icon */

.nav_icon__container {
  cursor: pointer;
}

/* Nav - Menu Links - Mobile view */

.links_active {
  list-style: none;
  position: absolute;
  left: 2rem;
  top: 2rem;
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
}

.links_active a {
  color: white;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  transition: 0.2s;
}

.links_active a:hover {
  color: var(--bg-dark-blue);
}

/* Nav - Menu Links - Underline */

#underline {
  display: none;
  position: absolute;
  width: 100px;
  height: 5px;
  border-radius: 8px;
  background-color: var(--bg-purple);
  top: 55px;
  transition: all 0.3s ease;
}

/* Headline section */

.headline {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom-left-radius: calc(10rem / 3);
}

.headline-intro {
  font-size: 15px;
  color: #505f79;
}

.headline .my-description {
  font-size: 15px;
}

.project_preview {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  max-height: 800px;
}

.popup_preview_image {
  width: 100%;
}

/* Projects Section */

.projects {
  display: grid;
  place-items: center;
  grid-template-columns: auto;
  gap: 5rem;
}

/* Projects - Expand card */

.details {
  display: none;
  position: fixed;
  min-height: 100vh;
  width: 100%;
  z-index: 11;
  background-color: #c1c7d0d9;
}

.section_detail_wrapper {
  background-color: white;
  min-height: max-content;
  max-height: 95vh;
  max-width: 90%;
  width: 1000px;
  overflow-y: scroll;
  border: 1px solid #ebecf0;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  border-radius: 12px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section_detail {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 1rem;
}

.section_detail__title {
  justify-content: space-between;
  align-items: flex-start;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-detail {
  cursor: pointer;
}

.project_details_btn {
  display: flex;
  gap: 8px;
}

.btn-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

/* Projects - Card */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.card article {
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  flex: 1;
}

.card article p {
  font-size: 14px;
}

.card .project_details > li:first-child {
  list-style: none;
  color: var(--text-dark-blue);
}

.desktop-bg {
  max-width: 544px;
  min-width: 307px;
  width: 100%;
  height: 350px;
  flex: 1;
  border-radius: 8px;
}

.card p {
  padding: 0;
}

/* About section */

.about {
  align-items: flex-start;
  padding: 6rem 1.5rem;
  border-top-right-radius: calc(10rem / 3);
  gap: 1rem;
}

/* About - stacks list */

.about__stacks {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: flex-start;
  padding: 1.5rem 0;
}

.about__stacks ul {
  list-style: none;
}

.about_stacks__item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 1.5rem 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #dfe1e6;
  color: var(--text-dark-blue);
  border-radius: 3px;
}

.about_stacks__item:hover {
  background-color: #f1f1f1;
}

.stack_item__dropdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem 0;
}

.dropdown_item {
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: #f7f7f9;
  padding: 1.5rem;
  border-radius: 8px;
}

.dropdown_item img {
  width: 36px;
  height: 36px;
}

.dropdown_item i {
  font-size: 24px;
  width: 36px;
  height: 36px;
}

.accordion_closed + .stack_item__dropdown {
  display: none;
}

.arrow {
  transition: 0.2s all ease;
}

.rotate {
  transform: rotate(90deg);
}

/* Footer Section */

footer {
  position: relative;
  min-height: 100vh;
}

footer::after {
  content: " ";
  position: absolute;
  background: #0d151e;
  border-radius: 10px;
  width: 134px;
  height: 5px;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

/* Footer - article */

.footer__container {
  background-color: var(--bg-purple);
  padding: 6rem 1.5rem;
  border-top-left-radius: calc(10rem / 3);
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.footer__container > p {
  max-width: 470px;
  text-align: center;
  color: var(--bg-lavender);
}

.footer__container h1 {
  text-align: center;
  color: var(--bg-lavender);
}

/* Footer - Form */

.form_fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

.form-error {
  color: #dad8d8;
  padding-bottom: 0;
  width: 327px;
}

@media screen and (max-width: 820px) {
  nav {
    justify-content: space-between;
  }

  .headline {
    background-image: url("./img/mobile-header-shapes.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 8rem 3rem;
  }

  .projects {
    padding: 6rem 0.5rem !important;
  }

  .project_description__container {
    display: flex;
    flex-direction: column;
  }

  .card {
    max-width: 544px;
    min-width: 307px;
  }

  .nav_menu__container {
    display: none;
  }

  .about {
    padding: 6rem 2rem;
  }

  .footer__container {
    background-image: url("./img/contact-form-shapes-mobile.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
}

@media screen and (max-width: 1000px) {
  /* Projects Section */

  .card {
    align-items: center;
  }

  /* About - stacks list */

  .stack_item__dropdown {
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    padding: 1rem 0;
  }

  .dropdown_item {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: #f7f7f9;
    padding: 0.5rem;
    width: 100%;
    border-radius: 8px;
  }
}

@media screen and (min-width: 821px) {
  /* Hero Section - Navbar */

  nav {
    justify-content: space-around;
  }

  .nav_icon__container {
    display: none;
  }

  .nav_menu__container {
    display: flex;
    list-style: none;
    gap: 2rem;
  }

  .nav_menu__container a {
    color: var(--text-dark-blue);
  }

  /* Hero Section - Headline */

  .headline {
    background-image: url("./img/desktop-shapes-bg.svg");
    background-size: 100%;
    background-position: center;
    min-height: calc(100vh + 4rem);
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding: 6rem 18vw;
    overflow: hidden;
  }

  .fa-brands:hover {
    transform: scale(1.15);
  }

  /* Projects Section */

  .projects {
    padding: 6rem 2rem;
  }

  .project_description__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .card {
    width: 90%;
    height: max-content;
    min-width: 327px;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .card:nth-child(2n + 1) {
    flex-direction: row;
  }

  .card > article {
    padding: 1rem 0 0 1rem;
    height: 350px;
  }

  /* About Section */

  .about {
    display: flex;
    flex-direction: row;
    padding: 6rem 3rem;
  }

  .about > article {
    width: 45%;
  }

  .about__stacks {
    width: 55%;
    min-width: 250px;
  }

  /* Footer Section */

  .footer__container {
    background-image: url("./img/contact-form-shapes.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .footer__container button {
    margin: 0 auto;
  }

  footer::after {
    display: none;
  }
}
